package partials

import "github.com/carsonkrueger/main/builders"

templ Redirect(to string, target string, method builders.RouteMethod, pushUrl string) {
	<div
		hx-trigger="load"
		hx-target={ target }
		if pushUrl != "" {
			hx-push-url={ to }
		}
		if method == builders.GET {
			hx-get={ to }
		}
		else
		if method == builders.POST {
			hx-put={ to }
		}
		else
		if method == builders.PUT {
			hx-put={ to }
		}
		else
		if method == builders.DELETE {
			hx-delete={ to }
		}
	></div>
}
