package pageLayouts

const PageLayoutID = "page-layout"
const MainContentID = "main-content"

// All page layouts should extend this layout
templ BasePageLayout() {
	<div id={ PageLayoutID } class="flex flex-col grow">
		{ children... }
	</div>
}

templ MainContent() {
	<main id={ MainContentID } class="flex flex-col grow">
		{ children... }
	</main>
}
