package pageLayouts

templ MainPageLayout(main templ.Component) {
	@BasePageLayout() {
		<div class="min-h-screen flex flex-col bg-surface text-main">
			<header class="flex justify-between items-center shadow px-6 py-4 bg-surface-hi backdrop-blur-sm">
				<h1 class="text-2xl font-semibold tracking-tight">Go + HTMX Starter Kit</h1>
				<h2 class="text-lg font-medium">By Carson Krueger</h2>
			</header>
			@MainContent() {
				@main
			}
		</div>
	}
}
