package pageLayouts

const PageLayoutID = "page-layout"
const MainContentID = "main-content"

// All page layouts should extend this layout
templ BasePageLayout() {
	<div id={ PageLayoutID } hx-swap-oob="true">
		{ children... }
	</div>
}
