package layouts

templ Main(main templ.Component) {
	@Index() {
		<div class="min-h-screen flex flex-col">
			<header class="flex justify-between items-center bg-primary text-white text-3xl px-4 py-3">
				<h1>Go + HTMX Starter Kit</h1>
				<h2 class="text-xl text-white">By Carson Krueger</h2>
			</header>
			<main class="flex-grow">@main</main>
		</div>
	}
}
