package datadisplay

templ Text(text string, size Size) {
	{{
		class := ""
		switch size {
		case XS:
			class += "text-xs"
		case SM:
			class += "text-sm"
		case LG:
			class += "text-lg"
		case XL:
			class += "text-xl"
		case XL2:
			class += "text-2xl"
		default:
			class += "text-base"
		}
	}}
	<div class={"truncate " + class}>{text}</div>
}
