package pages

import (
	"github.com/carsonkrueger/main/internal/templates/datadisplay"
	"github.com/carsonkrueger/main/internal/templates/partials/productcard"
)

templ Home() {
	<div class="flex flex-col lg:gap-16 lg:pt-16 pt-8 pb-6 gap-6 items-center">
		<section id="hero" class="flex flex-col items-center lg:gap-12 gap-6 text-secondary min-h-[60vh]">
			<div id="tree" class="bg-[url(/public/tree.svg)] bg-center bg-contain bg-no-repeat text-center lg:h-130 h-100 flex flex-col justify-center items-center text-white font-[naervik]">
				<h1 class="lg:text-[3rem] text-[2rem] font-black" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);">Unlock Your Potential Naturally</h1>
				<h3 class="lg:text-[1.8rem] text-[1.1rem] font-black" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);">Premium Peptides for Study</h3>
				<h3 class="lg:text-[1.8rem] text-[1.1rem] font-black" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);">Potent. Proven. Powerful.</h3>
			</div>

			<div id="attributes" class="flex items-center justify-center lg:gap-12 gap-6 text-secondary">
				<icon-group class="flex flex-col gap-2 justify-center items-center">
					@datadisplay.CircleOutline(datadisplay.Secondary, datadisplay.XL11, nil) {
						@datadisplay.Icon(datadisplay.AntioxidantIcon, datadisplay.XL4, datadisplay.Secondary)
					}
					<p>Antioxidant</p>
				</icon-group>
				<icon-group class="flex flex-col gap-2 justify-center items-center">
					@datadisplay.CircleOutline(datadisplay.Secondary, datadisplay.XL11, nil) {
						@datadisplay.Icon(datadisplay.LeafIcon, datadisplay.XL4, datadisplay.Secondary)
					}
					<p>Anti Aging</p>
				</icon-group>
				<icon-group class="flex flex-col gap-2 justify-center items-center">
					@datadisplay.CircleOutline(datadisplay.SecondaryLo, datadisplay.XL11, nil) {
						@datadisplay.Icon(datadisplay.FlexIcon, datadisplay.XL4, datadisplay.SecondaryLo)
					}
					<p>Vitality</p>
				</icon-group>
			</div>
		</section>


		<section id="products" class="flex flex-col gap-4 w-full py-8 px-4 text-secondary">
			<section-header class="text-xl text-center">Featured Products</section-header>
			<div class="flex items-center justify-center flex-wrap lg:gap-10 gap-4">
			@productcard.ProductCard(productcard.Props{
				Title: "Vitality Boost",
				Desc: "Supports Energy & Focus",
				Img: productcard.ImgProps {
					Src: "/public/peptide.webp",
					Alt: "Peptide",
				},
				BtnText: "Add to Cart",
			})
			@productcard.ProductCard(productcard.Props{
				Title: "Vitality Boost",
				Desc: "Supports Energy & Focus",
				Img: productcard.ImgProps {
					Src: "/public/peptide.webp",
					Alt: "Peptide",
				},
				BtnText: "Add to Cart",
			})
			@productcard.ProductCard(productcard.Props{
				Title: "Vitality Boost",
				Desc: "Supports Energy & Focus",
				Img: productcard.ImgProps {
					Src: "/public/peptide.webp",
					Alt: "Peptide",
				},
				BtnText: "Add to Cart",
			})
			</div>
		</section>
	</div>
}
