package page_layouts

import (
	"github.com/carsonkrueger/main/internal/templates/constants"
	"github.com/carsonkrueger/main/pkg/templui/dialog"
	"github.com/carsonkrueger/main/pkg/templui/label"
	"github.com/carsonkrueger/main/pkg/templui/input"
	"github.com/carsonkrueger/main/pkg/templui/toast"
)

templ Index(page templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>The Peptide Place</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="icon" type="image/png" href="/public/tree.svg"/>
			<link href="/public/output.css" rel="stylesheet"/>
			<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
			<script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
			<script src="https://unpkg.com/htmx-ext-response-targets@2.0.2"></script>
			@dialog.Script()
			@label.Script()
			@input.Script()
			@toast.Script()
		</head>
		<body hx-ext="response-targets">
			<div id={ constants.GlobalToastID } class="fixed flex flex-col gap-3 bottom-5 right-5 z-50 max-w-md items-end"></div>
			@page
		</body>
		<script data-global-toast-id={ constants.GlobalToastID }>
			(() => {
			    const currentScript = document.currentScript;
				const globalToastID = currentScript?.dataset?.globalToastId;

           	    // script clears toast notifications when page is pushed
                document.body.addEventListener("htmx:push", function(event) {
                    const el = document.getElementById(globalToastID);
                    if (el) {
                        el.innerHTML = '';
                    }
                });

                // displays error`
                document.body.addEventListener('htmx:responseError', function (event) {
                    // console.warn(event.status, event)
                    const errorBox = document.getElementById(globalToastID);
                    if (!errorBox) {
                        console.warn('errorbox not found')
                        return
                    }

                    const xhr = event.detail.xhr;
                    const displayToast = xhr.getResponseHeader("hx-toast-err") === "true";

                    if (xhr.status === 0) {
                        errorBox.textContent = "Network error — please check your connection.";
                    } else if (xhr.status >= 400 && displayToast) {
                        errorBox.innerHTML = xhr.response;
                    }
                });
			})()
        </script>
	</html>
}
