package page_layouts

import (
	"github.com/carsonkrueger/main/templates/constants"
)

// All page layouts should extend this layout
templ BasePageLayout() {
	<div id={ constants.PageLayoutID } class="flex flex-col grow relative">
		{ children... }
	</div>
}

templ MainContent() {
	<main id={ constants.MainContentID } class="flex flex-col grow">
		{ children... }
	</main>
}
