@import "tailwindcss" source("../**/*.{templ,html,go}");

@theme inline {
    --color-primary-hi: #3283fc;
    --color-primary: #1c76fc;
    --color-primary-lo: #0a6bfc;

    --color-secondary-hi: #969696;
    --color-secondary: #7a7a7a;
    --color-secondary-lo: #5c5c5c;
    --color-error: #d13449;

    --color-surface: #1e1e2f;
    --color-surface-hi: #2e1e2f;
    --color-header: #2a2a3c;
    --color-main: #e0e0e5;
    --color-muted: #a0a0a0;
    --color-accent: #4fc1ff;
}

@layer utiltities {
    .secondary-box {
        @apply border-[1px] text-secondary border-secondary rounded-md;
    }
    .app-input {
        @apply border-[1px] border-secondary rounded-sm w-full p-2 focus:ring focus:ring-blue-200;
    }
}

input:invalid.touched {
    @apply border-error;
}
