package userManagement

import (
	"github.com/carsonkrueger/main/gen/go_db/auth/model"
)

templ Users(users []model.Users) {
	<div>
		for _, user := range users {
			<div>{ user.FirstName }</div>
		}
	</div>
}
