package datainput

type SelectOptions struct {
	Value string
	Label string
}

templ Select(id string, name string, defaultValue string, options []SelectOptions, attrs templ.Attributes) {
	<select id={id} name={name} {attrs...}>
		for _, o := range options {
			<option
				value={o.Value}
				if o.Value == defaultValue {
					selected="selected"
				}
			>
				{o.Label}
			</option>
		}
	</select>
}
