package datadisplay

import (
	"strings"
)

templ Icon(iconType IconType, size Size, color Color) {
	{{
		var template templ.Component
		classes := []string{
			sizeClassMap[size],
			fillClassMap[color],
		}
		attrs := templ.Attributes{
			"class": strings.Join(classes, " "),
		}
		switch iconType {
		case LeafIcon:
			template = Leaf(attrs)
		case FlexIcon:
			template = Flex(attrs)
		case AntioxidantIcon:
			template = Antioxidant(attrs)
		}
	}}
	@template
}
